body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

table {
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
}
